GREEN_LIGHT_DURATION_M=1.5
# P8 Pin 7 => GPIO 66
GREEN_LIGHT_GPIO_NS=66
# P8 Pin 9 => GPIO 69
YELLOW_LIGHT_GPIO_NS=69
# P8 Pin 11 => GPIO 45
RED_LIGHT_GPIO_NS=45
# P8 pin 8 => gpio 67
GREEN_LIGHT_GPIO_EW=67
# P8 Pin 10 => GPIO 68
YELLOW_LIGHT_GPIO_EW=68
# P8 Pin 12 => GPIO 44
RED_LIGHT_GPIO_EW=44
