# P8 Pin 7 => GPIO 66
TARGET_TEMP_LED_GPIO=66
# P8 Pin 9 => GPIO 69
SYSTEM_OK_LED_GPIO=69
# P8 Pin 11 => GPIO 45
SYSTEM_FAIL_LED_GPIO=45
# P9 pin 19 and pin 20 => I2C2_SCL and I2C_SDA
# 2 represents the IC2-#
LCD_IC2_NUMBER=2
# P8 Pin 13 => EHRPWM2B
SERVO_GPIO=2b
# P9 pin 36 => AIN 5
POTENTIOMETER_AIN=36
# P8 Pin 8 => GPIO 67
TEMP_SENSOR_GPIO=67
